@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

body{
	background-color: rgb(248, 231, 187);
	margin: 0;
	padding:0;
}
.wrapper{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 50vh;
}
h1{
	font-family: 'Orbitron';
	text-align: center;
}
.box{
	grid-row: 2/3;
	grid-column:2/3;
	border-style: solid;
	border-width: 7px;
	border-color: #650000;
}
.box2{
	display: grid;
	grid-template-columns: repeat(8, 5vw);
	grid-template-rows: repeat(8,5vw);
}
.title{
	grid-column:2/3;
}
.footer{
	grid-row:3/4;
	grid-column:2/3;
	font-family: monospace;
	font-size: 7px;
	text-align: end;
}
.box-yellow{
	position: relative;
	background: rgb(242, 202, 91);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.5vw;
}
.box-dark{
	background: #fbf5dd;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.5vw;
}
.whitePiece, .blackPiece{
	color:#004473;
	transform: scale(1);
}
.whitePiece:hover{
	transform: scale(1.05);
	background-color: white;
	color:gray;
}
.blackPiece:hover{
	transform: scale(1.05);
	background-color: white;  
	color:gray;    
}

